body {
  background: linear-gradient(135deg, #1f1c2c, #928dab);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Arial;
}

.phone {
  width: 260px;
  background: #111;
  padding: 10px;
  border-radius: 25px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.6);
}

.calculator {
  background: #2a2a3d;
  padding: 15px;
  border-radius: 20px;
}

#display {
  width: 100%;
  height: 70px;
  font-size: 26px;
  text-align: right;
  margin-bottom: 15px;
  border: none;
  border-radius: 15px;
  padding: 10px;
  background: #dcdde1;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.btn {
  height: 55px;
  font-size: 20px;
  border: none;
  border-radius: 15px;
  background: #3b3b4f;
  color: white;
  cursor: pointer;
  transition: 0.2s;
}

/* Hover effect */
.btn:hover {
  transform: scale(1.05);
  background: #50506a;
}

.operator {
  background: #ff9500;
}

.operator:hover {
  background: #e08900;
}

.equal {
  background: #00c853;
}

.equal:hover {
  background: #00a844;
}

.zero {
  grid-column: span 2;
}